.details {
    width: 100%;
    display: block;
    overflow: scroll;
}
.listBtn{
    display: flex;
    /* flex-direction: row-reverse */
}
.recentOrders .cardHeaders .date {
    background-color: #ededed;
    border: 1px solid black;
    height: 20px;
    width: 70px;
    text-align: center;
    border-radius: 4px;
}
.recentOrders .cardHeaders #searchDates {
    background-color: green;
    color: white;
    width: 50px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
}
