.container_custom {
    padding-left: 10px;
}

.main {
    padding-right: 10px;
}
.details {
    display: grid;
    grid-template-columns: 1fr 0fr;
}


.list_input_customer .create_customer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list_input_customer button {
    width: 80%;
    font-size: x-large;
    border-radius: 10px;
    border: none;
    color: var(--btn);
}

.list_input_customer button:hover {
    box-shadow: 0 0 10px rgba(0, 188, 212, 0.5); 
    color: var(--white);
    background-color: var(--primary);
}


.status{
    font-size: 10px;
    border: none;
}
.status:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
    font-size: 14px;
}

thead td:nth-child(3),
 tbody td:nth-child(3) {
    width: 200px
  }

  thead td:nth-child(4),
  tbody td:nth-child(4) {
     width: 160px;
     padding-right: 0px !important;
   }

.add {
    transform: translate(-50px, 10px) !important;
}
.container_date {
    margin-right: 50px;
}
#searchDates {
    padding: 3px;
    border-radius: 2px;
    background-color: var(--primary);
    border: none;
    cursor: pointer;
}

#searchDates:hover {
    color: white;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
}

@media (max-width: 576px){
    .main .details .search {
        margin: 0px;
    
    }
    .main .details .search input{
        width: calc(100% - 50px) !important;
    }
    .main.active .details .search {
        margin-left: 40px;
    }
    .details .cardHeaders h2 {
        display: none;
    }
    .cardHeaders {
        display: block;
    }
    .table {
        width: 100%;
    }
    table thead tr .phone,
    table thead tr .created_at{
        display: none;
    }
    table tbody tr td:nth-child(2),
    table tbody tr td:nth-child(3){
        display: none;
    }
    .container_date {
        display: none;
    }

}

