
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
p {
    font-size: 13px;
    margin-bottom: 0px;
}

ul {
    padding-left: 0rem;
}

:root {
    --primary: #00bcd4;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --btn: rgb(69, 90, 100);
    --body2: rgb(236, 239, 241);
    --body: rgb(229, 231, 235);
    --page-header-height: 700px;
    --Del: rgb(208, 49, 49);
    --Success: #64a120;
    --wai: #e2b52e;
}

body {
    min-height: 100vh;
    background-color: var(--body);
    /* font-family: sans-serif; */

}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  /* box-shadow: inset 0 -1px 0 var(--primary);
  border-color: var(--primary); */
}

.container-custom {
    position: relative;
    width: 100%;
    background-color: var(--body);
    padding-left: 10px;
    box-sizing: border-box;
}

.container_custom .toggle {
    position: absolute;
    z-index: 1000;
    top: 30px;
    left: 15px;
}

.container_custom .toggle ion-icon {
    font-size: 40px;
    color: var(--primary);
}

.navigation {
    position: fixed;
    width: 200px;
    height: calc(100% - 20px);
    background: var(--primary);
    border-left: 10px solid var(--primary);
    transition: 0.5s;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
}

.navigation.active {
    width: 80px;
}

.navigation .profile .avatar {
    color: white;
    height: 40px;
    width:40px ;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-25px, -160%);
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--body);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width:  100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--primary);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: flex;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--body);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--body);
    pointer-events: none;
}

.viewProfile {
    display: none;
    width: 100px;
    background-color: var(--body);
    position: absolute;
    top: 100%;
    transform: translate(-0%, -160px);
    margin-left: 70px;
    margin-bottom: 50px;
    z-index: 100;
    text-align: center;
    padding: 10px;
    border-start-end-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.viewProfile p {
    font-weight: 400;
    cursor: pointer;
}
.viewProfile p:hover {
    font-weight: 600;
}
.viewProfile .logout:hover {
    color: orange;
}

/* main */
.main {
    position: absolute;
    width: calc(100% - 210px);
    height: calc(100vh - 20px);
    left: 210px;
    min-height: 100vh;
    background: var(--body);
    transition: 0.5s;
    position: relative;
}

.main.active {
    width: calc(100% - 90px);
    /* position: absolute; */
    left: 90px;
}

.topbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    z-index: 10000;
    background-color: var(--body);
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon 
{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.2em;
}

.cardHeaders .add {
    position: absolute;
    left: 100%;
    top: 13px;
    transform: translateX(-100%);
    border-radius: 5px !important;
}

.cardHeaders .add:hover {
    font-size: 10px;
}

.status{
    font-size: 10px;
    border: none;
}
.status:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
    font-size: 14px;
}

.status.add {
    padding: 2px 5px;
    background-color: var(--primary);
    border-radius: 3px;
    color: var(--white);
}


.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--primary);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 2.5em;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--primary);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

.details {
    position: relative;
    width: 100%;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    height: calc(100vh);
}

.details .recentOrders {
    position: relative;
    /* display: grid; */
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.cardHeaders {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.cardHeaders h2{
    font-weight: 600;
    color: var(--primary);
}

.cardHeader {
    margin-left: 20px;
    font-weight: 600;

}

.cardHeader h2{
    font-weight: 600;
    color: var(--primary);
}



.btn {
    position: relative;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
}

.details table {
   
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    
}

.details table thead td{
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: var(--primary);
    color: var(--white);
}

.details .recentOrders table tr td {
    padding: 3px 10px;
}

.details .recentOrders table tr td:last-child {
    text-align: right;
}


.status.delivered {
    padding: 2px 4px;
    background: var(--Success);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
}
.status.CANCELLED,
.status.return {
    padding: 2px 4px;
    background: var(--Del);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
}.status.PENDING {
    padding: 2px 4px;
    background: var(--wai);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
}
.status.PAID {
    padding: 2px 4px;
    background: rgb(21, 162, 21);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
}

.recentCustomers {
    position: relative;
}


.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}


.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover {
    background: var(--primary);

}

.recentCustomers table tr td {
    padding: 12px 10px;

}

.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.recentCustomers table tr:hover {
    background: var(--primary);
    color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}


.recentOrders {
    height: calc(100%);
    border-radius: 20px;
}

.recentOrders .table {
    height: calc(100% - 65px); 
   
}
table {
    height: 100%;
}

thead, tbody tr {
    display:table; 
    width:100%;
    table-layout:fixed;
}

#list_customerOrder {
    display: block;
    box-sizing: border-box;
    height: calc(100% - 31px);
    overflow: scroll;
}

.recentCustomers > div:first-child {
    padding-top: 20px;
}

.recentCustomers > div {

    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}


/* css list pages orders and customer */

.listBtn{
    padding-top: 10px;
    position: relative;
   margin-top: 20px;

}

.listBtn ul {
    display: flex;
    justify-content: right;
    padding: 0px;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);}

.listBtn.pages ul li{
    list-style: none;
    text-align: center;
    margin-right: 5px;
    background-color: var(--primary);
    height: 20px;
    width: 20px;
    border-radius: 4px;
} 
.listBtn.pages ul li a{
   display: block;
   text-decoration: none;
   font-size: 16px;
   margin-top: -2px;
   color: white;
}

.recentOrders {
    height: calc(100%);
    border-radius: 20px;
}

.recentOrders .table {
    height: calc(100% - 65px); 
   
}
table {
    height: 100%;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

#list_order {
    display: block;
    box-sizing: border-box;
    height: calc(100% - 31px);
    overflow: scroll;
}

/* css popup */

.container_popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10055;
    display: none;
}
.container_popup .popup_content {
    height: 566px;
    width: 384px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 20px;
    color: var(--btn);
    
}

/* popup  */

.container_popup .popup_content.delete {
    height: 120px;
    padding: 30px 20px;
    position: relative;
}

.popup_content .border_span {
    width: 100px;
    border-bottom: 1px solid var(--btn);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -65px);
}

.container_popup .popup_content.delete  .name {
    font-weight: 400;
}


.container_popup .popup_content  .status {
    margin-left: 20px;
    height: 20px;
}
.container_popup .popup_content .status:hover {
    height: 24px;
}

.container_popup .popup_content.delete > div > p {
    font-size: 14px;
}

.container_popup .popup_content.edit {
    height: 400px;
    position: relative;
    padding-top: 20px
}

.container_popup .popup_content.edit .status {
    font-size: 12px;
    height: 25px;
    padding: 3px 15px;
    border-radius: 10px;
}

.container_popup .popup_content h4 {
    font-weight:500;
    margin-bottom: 20px;
}
.container_popup .popup_content .content_profile {
    padding: 0px 20px;
    margin-top: 20px;
}


.container_popup .popup_content .list_action {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -45px);
    display: flex;
}

/* cart */
.container_popup .popup_content .content_items{
    height: calc(100% - 84px);
    width: 100%;
    box-sizing: border-box;
    padding: 24px 24px 0px 24px;
    overflow: scroll;
}

.popup_content .content_items .company_info {
    height: 92px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.popup_content .content_items .company_info div{
    width: 100%;
    text-align: center;
}
.popup_content .content_items .company_info img{
    width: 32px;
    height: 32px;
}

.popup_content .content_items .company_info h2{
    text-align: center;
    width: 100%;
    margin-top: -5px;
}
.popup_content .content_items .company_info p{
    text-align: center;
    width: 100%;
}

.popup_content .content_items .customer_bill {
    display: flex;
    justify-content: space-between;
}
.popup_content .content_items .customer_bill > div:first-child{
    display: flex;
}
.popup_content .content_items .customer_bill h6:nth-child(2) {
    margin-left: 5px;
    color: orange;
}


.popup_content .content_items .number_bill {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(69, 90, 100, 0.1);
}

.popup_content .content_items .table_items table{
    width: 100%;
    border-bottom: 1px solid rgba(69, 90, 100, 0.1);
}
.popup_content .content_items .table_items table td:nth-child(3){
    text-align: right;
}
.popup_content .content_items .table_items table tr {
    margin-bottom: 15px;
}
.popup_content .content_items .table_items table tr span {
    font-size: 11px;
}
.popup_content .content_items .table_items table td {
    vertical-align: top;
    padding: 5px
}

.popup_content .content_items .table_items table tbody tr {
    font-size: 12px;
}

.popup_content .content_items .table_items table td:last-child{
   text-align: right;
}


.total_bill .total_payment {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(69, 90, 100, 0.1);
}

.total_bill .discount {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;

}

.total_bill .total_payment .total {
    display: flex;
    justify-content: space-between;
}
.total_bill .total_payment .total h6:nth-child(2){
    color: orange;
}

.total_bill .total_payment .payment {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}


.container_popup .popup_content .bill_btns {
    height: 84px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
}

.container_popup .popup_content .bill_btns .btns {
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 18px;
    border-radius: 20px;
  
}

.container_popup .popup_content .bill_btns .btns:hover {
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
}

.popup_content .bill_btns .proceed{
    background-color: var(--primary);
    height: 100%;
    width: 70%;
    margin-right: 10px;
}

.container_popup .popup_content .bill_btns  .cancel {
    background-color: orange;
    width: 30%;
    height: 100%;
}

.container_popup .popup_content .status:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
}


/* customer */

.list_input_customer {
    padding: 20px;
    color: var(--btn);

}

.list_input_customer > div{
    margin-bottom: 10px;
}

.list_input_customer label {
    font-weight: 400;
}

.list_input_customer textarea,
.list_input_customer input{
    margin: 0px 30px;
    width: calc(80%);
    box-sizing: border-box;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 7px;
    border: 2px solid var(--white);
    background-color: var(--body);
    color: var(--btn);

}
.list_input_customer textarea:hover,
.list_input_customer input:hover {
    outline: none;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    
}

.list_input_customer textarea:focus,
.list_input_customer input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    
}

.popup_content_sample{
    min-width: 350px;
    background-color: var(--body);
}


.popup_content_sample .input-group span {
    background-color: var(--primary);
    color: white;
}

.popup_content_sample .input-group input:focus,
.popup_content_sample .input-group textarea:focus{
    border: none;
}


.popup_contai_sample {
    background-color: rgba(0,0,0,0.6);
    display: none;
}

/* make it responsive design */


@media (max-width: 991px) {
    .search {
        margin-right: 220px;
    }
    .navigation {
        left: -200px;
    }
    .navigation.active {
        width: 80px;
        left: 5px;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        width: calc(100% - 85px);
        left: 85px;
    }
    .cardBox {
        grid-template-columns: repeat(2,1fr);
    }

}


/* popup data mau */





@media (max-width: 768px) {
    .search {
        margin-right: 100px;
    }
    .details {
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders {
       overflow-x: auto; 
    }
    .status.inprogress {
        white-space: nowrap;
    }
}
@media (min-width: 577px){
    .toggle{
        display: none;
    }
}

@media (max-width: 576px){
    .navigation.active {
        left: -200px;
    }
    .navigation {
        width: 80px;
        left: 5px;
    }

    .main {
        width: calc(100% - 90px);
        left: 90px;
    }
    .main.active {
        width: 100%;
        left: 0px;
    }
    .main ,
    .main.active {
        padding: 5px !important;
    }
    .container_custom {
        padding: 0px !important;
    }
    .toggle {
        display: none;
    }
    .toggle.active {
        display: block;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeaders h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .search {
        margin-right: 30px;
    }
}
.modal-header {
    background-color: var(--primary);
    color: white;
}
.modal-header .btn-close {
    color: #fff; 
    opacity: 1;
}