.navigation {
    position: absolute;
    left: 10px;
}
.main {
    padding:0px 10px;
}


.profile .avatar {
    cursor: pointer;
}

.topbar {
    position: absolute;
    width: 50px;
}

.details { 
    display: block; 
    height: 100%;
}

.recentOrders .cardHeaders {
    height: 35px;
}

.recentOrders .cardHeaders .date {
    background-color: var(--body);
    border: 1px solid var(--white);
    height: 20px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px;


}
.recentOrders .cardHeaders #searchDates {
    background-color: var(--primary);
    color: white;
    width: 50px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

 .list_action span {
    height: 26px !important;
}

.listBtn{
    transform: translateY(-20px);
}

.listBtn .total h6:nth-child(2){
    color: orange;
}
.listBtn  > div:nth-child(2) {
    transform: translateY(-5px);

}

@media (max-width: 576px){
    .main .details .search {
        margin: 0px;
    
    }
    .main .details .search input{
        width: calc(100% - 50px) !important;
    }
    .main.active .details .search {
        margin-left: 40px;
    }
    .details .cardHeaders h2 {
        display: none;
    }
    .details .cardHeaders input {
        display: block;
        float: left;
    }
    .details .cardHeaders {
        padding-left: 50px;
    }
    
    .details .cardHeaders span {
        display: none;
    }
    #searchDates {
        float: left;
    }
    .table thead td:nth-child(1),
    .table thead td:nth-child(2),
    .table thead td:nth-child(4),
    .table tbody td:nth-child(1),
    .table tbody td:nth-child(2),
    .table tbody td:nth-child(4) {
        display: none;
    }
    .main .table thead td:nth-child(3),
    .main .table tbody td:nth-child(3)
    
    {
        text-align: right !important;
    }
    .table thead td:nth-child(5),
    .table tbody td:nth-child(5) {
        text-align: right;
    }

    .recentOrders {
        padding: 25px 0px !important;
       
    }
    .table {
        overflow: none !important;
    }
    .startDate, .endDate {
        padding: 0px !important;
        height: 25px !important;
    }
    

}








