.navigation {
    position: absolute;
    left: 10px;
}
.main {
    padding:0px 10px;
}


.profile .avatar {
    cursor: pointer;
}

.topbar {
    position: absolute;
    width: 50px;
}

.details { 
    display: block; 
    height: 100%;
}

.recentOrders .cardHeaders {
    height: 35px;
}

.recentOrders .cardHeaders .date {
    background-color: var(--body);
    border: 1px solid var(--white);
    height: 20px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px;


}
.recentOrders .cardHeaders #searchDates {
    background-color: var(--primary);
    color: white;
    width: 50px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

 .list_action span {
    height: 26px !important;
}

.listBtn{
    transform: translateY(-20px);
}

.listBtn .total h6:nth-child(2){
    color: orange;
}
.listBtn  > div:nth-child(2) {
    transform: translateY(-5px);

}








