.navigation {
    position: absolute;
    left: 10px;
}

.profile .avatar {
    cursor: pointer;
}

.viewProfile {
    display: none;
    width: 100px;
    background-color: var(--body);
    position: absolute;
    top: 100%;
    transform: translate(-0%, -160px);
    margin-left: 70px;
    margin-bottom: 50px;
    z-index: 100;
    text-align: center;
    padding: 10px;
    border-start-end-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.viewProfile p {
    font-weight: 400;
    cursor: pointer;
}
.viewProfile p:hover {
    font-weight: 600;
}
.viewProfile .logout:hover {
    color: orange;
}

.topbar {
    position: absolute;
    width: 50px;
}

.details { 
    display: block; 
    height: 100%;
}

.recentOrders .cardHeaders {
    height: 35px;
}

.recentOrders .cardHeaders .date {
    background-color: var(--body);
    border: 1px solid var(--white);
    height: 20px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px;


}
.recentOrders .cardHeaders #searchDates {
    background-color: var(--primary);
    color: white;
    width: 50px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}







