.details {
    grid-template-columns: 1fr 0fr;
}

#addDataSample {
    display: none;
    position: absolute;
    left: 100%;
    width: 80px;
    transform: translate(-120px, 12px);
    border-radius: 5px;
    color: white;
    padding: 3px;
    background-color: var(--primary);
}
#addDataSample:hover {
    font-size: 10px;
}

.cardHeaders {
    position: relative;
}


.cardHeaders > a:hover {
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);

}

.create_custom {
    height: 310px
}

.list_input_customer {
    padding: 20px;
    color: var(--btn);

}

.list_input_customer > div{
    margin-bottom: 20px;
    position: relative;
}

.list_input_customer label {
    font-weight: 400;
    box-sizing: border-box;
    height: 50px;
    margin-top: 200px;
    vertical-align: bottom;
}

 input.pri_name{
    box-sizing: border-box;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 7px;
    border: 1px solid var(--white);
    background-color: var(--body);
    width: calc(100% - 80px);
    position: absolute;
    left: 55px;
}
.list_input_customer input.price {
    width: calc(40%);
}

.list_input_customer input.option {
    width: calc(100% - 80px);
    background-color: var(--body);
    border: none;
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    left: 75px;
}



.list_input_customer .contai_file {
    position: relative;
}
.list_input_customer .label_choose {
  background-color: var(--btn);
  color: white;
  font-size: 10px;
  padding: 3px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  position: absolute;
  top: 2px;
  left: 70px;
}
.list_input_customer .label_choose:hover {
    font-size: 14px;
    cursor: pointer;
}

.list_input_customer textarea:hover,
.list_input_customer input:hover {
    outline: none;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    
}

.list_input_customer textarea:focus,
.list_input_customer input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    
}

.list_input_customer input.option:hover,
.list_input_customer input.option:focus {
    border: none;
}

.list_input_customer .create_product {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
}

.list_input_customer button {
    width: 80%;
    font-size: x-large;
    border-radius: 10px;
    border: none;
    color: var(--btn);
}

.list_input_customer button:hover {
    box-shadow: 0 0 10px rgba(0, 188, 212, 0.5); 
    color: var(--white);
    background-color: var(--primary);
}

.recentOrders {
    height: calc(100%);
    border-radius: 20px;
}

.recentOrders .table {
    height: calc(100% - 65px); 
   
}
table {
    height: 100%;
}

thead, tbody tr {
    display:table; 
    width:100%;
    table-layout:fixed;
}

#list_order {
    display: block;
    box-sizing: border-box;
    height: calc(100% - 31px);
    overflow: scroll;
}



thead td:nth-child(3),
 tbody td:nth-child(3) {
    width: 200px
  }

  thead td:nth-child(4),
  tbody td:nth-child(4) {
     width: 160px;
     padding-right: 0px !important;
   }

   /* css create category */
.create_category {
    height: calc(100% - 320px);
    width: 100%;
    border-radius: 20px;
    background-color: var(--white);
    margin-top: 10px;
    padding: 10px 20px;
}
.create_category h3{
    font-weight: 500;
    color: var(--primary);
}

.create_category ul {
    margin: 5px 5px;
    padding: 0px 5px 0px 10px;
    color: var(--btn);
    background-color: var(--body);
    height: 145px;
    overflow-y: scroll;
    border-radius: 5px;
}


.create_category  .list_category {
    padding: 4px;
    border-bottom: 2px solid var(--body);
}
 

.create_category ul li {
    margin-bottom: 3px;
}
 


.create_category span {
    float: right;
    transform: translateY(-20px);
    font-size: 10px;
    background-color: var(--btn);
    font-weight: 700;
    padding: 0px 3px;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.create_category span:hover {
    background-color: var(--Del);
    cursor: pointer;
}

.create_category ul li {
    list-style-type: none;
}

.create_category .create_cate {
    padding-top: 10px;
}

.create_category .create_cate span{
    padding: 2.5px 8px;
    background-color: var(--btn);
}

.create_category .create_cate input {
    margin-left: 10px;
    width: 50%;
    box-sizing: border-box;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 7px;
    border: 1px solid var(--white);
    background-color: var(--body);
    width: calc(100% - 60px);
   
}
.create_category .create_cate span:hover {
    background-color: var(--primary);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 188, 212, 0.5); 
}

.create_category .create_cate input:hover,
.create_category .create_cate input:focus {
    border-bottom: 2px solid var(--primary);
    outline: none;
}


/* popup  */
.popup_content.edit {
    height: 350px !important;
}



.popup_content.profile {
    height: 380px
}



/* css image */
.renderproducts tr td:first-child {
    width: 60px;
}
.renderproducts tr td div{
    height: 45px;
    width: 45px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 3px;
}
.renderproducts tbody img {
    max-height: 39px;
    max-width: 39px;
}
.renderproducts tr td:nth-child(5){
    width: 120px;
} 
.renderproducts tr td:nth-child(4){
    width: 160px;
    
}
.renderproducts tr td:nth-child(3){
    width: 100px;
}


@media (max-width: 576px){
    .recentOrders {
        padding: 25px 0px !important;
       
    }
    .details {
        display: block;
    }
    .details .cardHeaders h2 {
        display: none;
    }
    .table {
        margin-top: 40px;
    }
    .table thead td:nth-child(1),
    .table tbody td:nth-child(1){
        display: none;
    }
   
}

@media (max-width: 480px){
    .main .table thead td:nth-child(3),
    .main .table tbody td:nth-child(3){
        display: none;
    }
    .main.active .table thead td:nth-child(3),
    .main.active .table tbody td:nth-child(3){
        display: block;
    }
}